/*esto es un comentario*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap');
*{ margin: 0;
padding: 0;
box-sizing: border-box
;
}
    .body
    { background-color: rgb(229, 242, 230);
    font-family: 'Nunito', sans-serif;
    }
    
    .header
    {background-color:rgb(229, 242, 230);
    position: sticky; 
    z-index: 1020;
    top: 0;
    bottom: 0;
    }
    
    .navbar-light .navbar-nav .linkNav
    {color: rgb(202, 99, 164); 
        text-decoration:none; 
        font-weight: 800; 
        font-size: 1,75rem; 
        
    }
    
    .contenedorTitulo
    { color: rgb(202, 99, 164); 
        font-size: 3rem; 
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        margin-bottom: 1rem;
        background-image: url(../assets/img/fondo\ titulo\ op.JPG);  background-size: cover; 
        background-repeat: no-repeat; 
        background-attachment: fixed; 
        background-position: center;
     
    }
    .titulo
     {font-weight: 300;
        
        padding: 8rem 
       }
       .contenedorTextoIndex
    {color: rgb(202, 99, 164);
        text-align: center;
         
        }
        .contenedorTextoIndex h2
        {font-weight: 300;
        font-size: 1,5rem;
        
        
    }
    .containterPrimerCaja{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .columnaIzquierda{ background-image: url(../assets/img/juego\ arcoirisjpg.jpg);
        height: 35vh;
        background-repeat: no-repeat ;
        background-size: cover;
        background-position: center; 
    }

    .columnaDerecha{
        height: 35vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .columnaIzquierdaSegundo{ background-image: url(../assets/img/full-shot-kid-playing-floor-with-wooden-toy.jpg);
        height: 35vh;
        background-repeat: no-repeat ;
        background-size: cover;
        background-position: center; 
    }
    .columnaIzquierdaTercer{ background-image: url(../assets/img/little_boy_playing_blocks_male_nurse_1200x852_77407.jpeg);
        height: 35vh;
        background-repeat: no-repeat ;
        background-size: cover;
        background-position: center; 
    }
    .contenedorTexto
    {color: rgb(202, 99, 164);
        text-align: center;
         
        }
    .contenedorTexto h2
        {font-size: 1rem;
        font-weight: 700;
        
    }

    .contenedorTexto p
    {font-weight: 300;
    font-size: 1rem;

    }
   
    .tarjetas{
        height: auto !important;
    }

    .tarjetas img { 
        width: 100%;
        
        object-fit: cover;
       
    }
    
    .tarjetas h3{ 
        color: rgb(202, 99, 164);
        font-weight: 700;
    }

    .contenedorVideo{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        background-color: rgb(250, 250, 250);
    }
    .contenedorVideo video{
        height: 35vh;
        width: 100%;
        
    }
    .contenedorTextoNosotros{
        color: rgb(202, 99, 164); 
        background-color:rgb(253, 253, 253);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        

    }
    .contenedorTextoNosotros h3 {
        font-size: 1rem; 
        font-weight: 200;
    }

    .contenedorGaleria
    {    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .imagenes{ 
        background-color: rgb(255, 255, 255);
        padding: 1rem 2rem 1rem 2rem;
        margin: 1rem;
        
    }
    .imagenes img{ 
        width: 100%;
        height: 40vh;
    }
    
    .textoGaleria p{
        color: rgb(202, 99, 164);
        font-size: 2rem;
        font-weight: 700;

    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formularioContenedorBoton{
        background-color: rgb(202, 99, 164);
        
    }
    
    ::placeholder
    {color: rgb(0, 0, 0) !important; 
    }
    
    .footer
    {color: rgb(255, 255, 255);
        background-color: rgb(180, 226, 247);
        font-size: 1,5rem;
        height: auto;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
    }
    
    .iconos
     { color: rgb(202, 99, 164); 
        font-size: 4rem;
         display:inline-block; 
        align-items: center;
     padding: 1rem;
    }
    
    .linkNav
    {color: rgb(202, 99, 164); 
        text-decoration:none; 
        font-weight: 800; 
        font-size: 1,75rem; 
        
        
    }
     .contenedorCreditos {
        padding-top: 1rem;
        display: flex;
        justify-content:center;
        align-items:center;
     }
   
