@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: rgb(229, 242, 230);
  font-family: "Nunito", sans-serif;
}

.header {
  background-color: rgb(229, 242, 230);
  position: sticky;
  z-index: 1020;
  top: 0;
  bottom: 0;
}
.header .logo {
  width: 100px;
}
.header .navbar-light .navbar-nav .linkNav {
  color: rgb(202, 99, 164);
  text-decoration: none;
  font-weight: 800;
  font-size: 1, 75rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .header .logo {
    width: 50px;
  }
}
main section .contenedorTituloIndex {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondo2\ index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main section .contenedorTituloIndex h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoIndex {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoIndex h2 {
  font-weight: 300;
  font-size: 20px;
}
main div.tarjetas {
  height: auto !important;
}
main div.tarjetas img {
  width: 100%;
  object-fit: cover;
}
main div.tarjetas h3 {
  color: rgb(202, 99, 164);
  font-weight: 700;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main section .contenedorTituloIndex {
    height: 20vh;
  }
  main section .contenedorTituloIndex h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoIndex h2 {
    font-size: 15px;
  }
}
main .contenedorTituloQue {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondoQETO2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloQue h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .containterPrimerCaja {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .containterPrimerCaja .columnaIzquierdaPrimerCaja {
  background-image: url(../assets/img/juego\ arcoirisjpg.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .containterPrimerCaja .columnaDerechaPrimerCaja {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .containterPrimerCaja .contenedorTextoPrimerCaja {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .containterPrimerCaja .contenedorTextoPrimerCaja h2 {
  font-size: 25px;
  font-weight: 700;
}
main .containterPrimerCaja .contenedorTextoPrimerCaja p {
  font-weight: 300;
  font-size: 15px;
}
main .columnaIzquierdaSegundaCaja {
  background-image: url(../assets/img/full-shot-kid-playing-floor-with-wooden-toy.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .columnaDerechaSegundaCaja {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .contenedorTextoSegundaCaja {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoSegundaCaja h2 {
  font-size: 25px;
  font-weight: 700;
}
main .contenedorTextoSegundaCaja ul {
  font-weight: 300;
  font-size: 15px;
}
main .containerTercerCaja {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .containerTercerCaja .columnaIzquierdaTercerCaja {
  /* SSi uso el extend se me borra la imagen
  @extend .columnaIzquierdaPrimerCaja;*/
  background-image: url(../assets/img/little_boy_playing_blocks_male_nurse_1200x852_77407.jpeg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .containerTercerCaja .columnaDerechaTercerCaja {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .containerTercerCaja .contenedorTextoTercerCaja {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .containerTercerCaja .contenedorTextoTercerCaja h2 {
  font-size: 25px;
  font-weight: 700;
}
main .containerTercerCaja .contenedorTextoTercerCaja ol {
  font-weight: 300;
  font-size: 15px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloQue {
    height: 20vh;
  }
  main .contenedorTituloQue h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .containterPrimerCaja .columnaIzquierdaPrimerCaja {
    height: 25vh;
  }
  main .containterPrimerCaja .columnaDerechaPrimerCaja {
    height: 25vh;
  }
  main .containterPrimerCaja .contenedorTextoPrimerCaja h2 {
    font-size: 15px;
  }
  main .containterPrimerCaja .contenedorTextoPrimerCaja p {
    font-size: 12px;
  }
  main .columnaIzquierdaSegundaCaja {
    height: 25vh;
  }
  main .columnaDerechaSegundaCaja {
    height: 25vh;
  }
  main .contenedorTextoSegundaCaja h2 {
    font-size: 15px;
  }
  main .contenedorTextoSegundaCaja ul {
    font-size: 10px;
  }
  main .containerTercerCaja .columnaIzquierdaTercerCaja {
    height: 25vh;
  }
  main .containerTercerCaja .columnaDerechaTercerCaja {
    height: 25vh;
  }
  main .containerTercerCaja .contenedorTextoTercerCaja h2 {
    font-size: 15px;
  }
  main .containerTercerCaja .contenedorTextoTercerCaja ol {
    font-size: 10px;
  }
}
main .contenedorTituloNosotros {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondoNosotros2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloNosotros h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorVideoNosotros {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
}
main .contenedorVideoNosotros video {
  height: 35vh;
  width: 100%;
}
main .contenedorTextoNosotros {
  color: rgb(202, 99, 164);
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
main .contenedorTextoNosotros h3 {
  font-size: 20px;
  font-weight: 200;
}
main .textoGaleriaNosotros {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
main .textoGaleriaNosotros p {
  color: rgb(202, 99, 164);
  font-size: 25px;
  font-weight: 700;
}
main .galeriaNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .galeriaNosotros .imagenes {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main .galeriaNosotros .imagenes img {
  width: 100%;
  height: 40vh;
}
main .galeriaNosotros .videoNosotros {
  display: flex;
  flex-direction: column;
}
main .galeriaNosotros .videoNosotros video {
  width: 100%;
  height: 50vh;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloNosotros {
    height: 20vh;
  }
  main .contenedorTituloNosotros h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorVideoNosotros video {
    height: 20vh;
  }
  main .contenedorTextoNosotros h3 {
    font-size: 10px;
    font-weight: 200;
  }
  main .textoGaleriaNosotros p {
    font-size: 12px;
  }
  main .galeriaNosotros .imagenes img {
    height: 20vh;
  }
  main .galeriaNosotros .videoNosotros video {
    height: 20vh;
  }
}
main .contenedorTituloConsultorio {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondoConsultorio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloConsultorio h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoConsultorio {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoConsultorio p {
  font-weight: 300;
  font-size: 20px;
}
main .textoGaleriaConsultorio {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
main .textoGaleriaConsultorio h2 {
  color: rgb(202, 99, 164);
  font-size: 25px;
  font-weight: 700;
}
main .contenedorGaleriaConsultorio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
}
main .contenedorGaleriaConsultorio .imagenesConsultorio {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main .contenedorGaleriaConsultorio .imagenesConsultorio img {
  width: 100%;
  height: 40vh;
}
main .contenedorTextoConsultorio h2 {
  font-weight: 700;
  font-size: 25px;
}
main .contenedorTextoConsultorio .mapa {
  width: 400px;
  height: 450px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloConsultorio {
    height: 20vh;
  }
  main .contenedorTituloConsultorio h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoConsultorio p {
    font-size: 10px;
  }
  main .textoGaleriaConsultorio h2 {
    font-size: 12px;
  }
  main .contenedorTextoConsultorio h2 {
    font-size: 12px;
  }
  main .contenedorTextoConsultorio .mapa {
    height: 250px;
    width: 200px;
  }
}
main .contenedorTituloContacto {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondocontacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloContacto h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoContacto {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoContacto h2 {
  font-size: 25px;
  font-weight: 700;
}
main form.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form.formulario ::placeholder {
  color: rgb(0, 0, 0) !important;
}
main form.formulario .formularioContenedorBoton {
  background-color: rgb(202, 99, 164);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloContacto {
    height: 20vh;
  }
  main .contenedorTituloContacto h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoContacto h2 {
    font-size: 12px;
  }
}
.footer {
  color: rgb(255, 255, 255);
  background-color: rgb(180, 226, 247);
  height: auto;
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
}
.footer .iconos {
  color: rgb(202, 99, 164);
  font-size: 60px;
  display: inline-block;
  align-items: center;
  padding: 1rem;
}
.footer .contenedorCreditos {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .footer .iconos {
    font-size: 30px;
  }
  .footer .contenedorCreditos {
    padding-top: 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
