.header {
    background-color: rgb(229, 242, 230);
    position: sticky;
    z-index: 1020;
    top: 0;
    bottom: 0;

    .navbar-light .navbar-nav .linkNav {
        color: rgb(202, 99, 164);
        text-decoration: none;
        font-weight: 800;
        font-size: 1, 75rem;
    }
}