.header {
    background-color: rgb(229, 242, 230);
    position: sticky;
    z-index: 1020;
    top: 0;
    bottom: 0;
    .logo{
        
        width:(100px) ;
    }

    .navbar-light .navbar-nav .linkNav {
        color: $color-texto;
        text-decoration: none;
        font-weight: 800;
        font-size: 1, 75rem;
    }
    div.contenedorTitulo {
        color: $color-texto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        margin-bottom: 1rem;
        background-image: url(../assets/img/fondo\ titulo\ op.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

        h1 {
            font-weight: 300;
            padding: 8rem;
            font-size: $tamano-titulo;

        }
    }
}