.header {
    background-color: rgb(229, 242, 230);
    position: sticky;
    z-index: 1020;
    top: 0;
    bottom: 0;
    .logo{
        
        width:(100px) ;
    }

    .navbar-light .navbar-nav .linkNav {
        color: $color-texto;
        text-decoration: none;
        font-weight: 800;
        font-size: 1, 75rem;
    }
    
}
@media screen and (min-width: 0px) and (max-width:768px) {
    .header{
        .logo{
            width: (50px);
        }
    }
}