main {
    section {
        .contenedorTituloIndex {
            color: $color-titulo;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35vh;
            margin-bottom: 1rem;
            background-image: url(../assets/img/fondo2\ index.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;

            h1 {
                font-weight: map-get($fuentes, black);
                padding: 8rem;
                font-size: $tamano-titulo;

            }
        }
    }

    .contenedorTextoIndex {
        color: $color-texto;
        text-align: center;

        h2{
            font-weight: map-get($fuentes, light);
            font-size: $tamano-texto-secundario;
            
            
        }
    }

    div {
        .tarjetas {
            height: auto !important;

            img {
                width: 100%;
                object-fit: contain;
            }

            h3 {
                color: $color-texto;
                font-weight: map-get($fuentes, bold);
            }
            p{
                color:rgb(164, 196, 167);
                font-size: 15px;
            }
            a{
                color: $color-texto;
                font-weight: map-get($fuentes, bold);
                &:hover{
                    color: rgb(164, 196, 167);
                }
            }
        }
    }

}

@media screen and (min-width: 0px) and (max-width:768px) {
    main {
        section {
            .contenedorTituloIndex {
                height: 30vh;
                
                

                h1 {
                    font-weight: 300;
                    padding: 8rem;
                    font-size: 25px;
                }
            }
        }

        .contenedorTextoIndex {
            h2 {
                font-size: 15px;
            }
        }
    }
}