main {
    section {
        .contenedorTituloQue {
            @extend .contenedorTituloIndex;
            background-image: url(../assets/img/fondoQETO2.jpg);

            h1 {
                font-weight: map-get($fuentes, black);
                padding: 8rem;
                font-size: $tamano-titulo;
            }
        }
    }

    .contenedorAnimaciones {
        overflow: hidden;

        .containterPrimerCaja {
            margin-top: 2rem;
            margin-bottom: 2rem;

            div {
                .columnaIzquierdaPrimerCaja {
                    background-image: url(../assets/img/card1.jpg);
                    object-fit: fill;
                    height: 35vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                .columnaDerechaPrimerCaja {
                    background-color: $fondo-cards;
                    @include flexbox (center, center, column, 35vh);
                    color: $color-texto;
                    text-align: center;

                    h2 {
                        font-size: $titulo-cards;
                        font-weight: map-get($fuentes, bold);
                    }

                    p {
                        font-weight: map-get($fuentes, light);
                        font-size: $tamano-texto-cards;
                    }
                }


            }
        }

        section {
            div {
                .columnaIzquierdaSegundaCaja {

                    background-image: url(../assets/img/card2.jpg);
                    object-fit: fill;
                    height: 35vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                .columnaDerechaSegundaCaja {
                    background-color: $fondo-cards;
                    @include flexbox (center, center, column, 35vh);
                    color: $color-texto;
                    text-align: center;

                    h2 {
                        font-size: $titulo-cards;
                        font-weight: map-get($fuentes, bold);

                    }

                    ul {
                        font-weight: map-get($fuentes, light);
                        font-size: $tamano-texto-cards;
                    }
                }

            }
        }

        .containerTercerCaja {
            margin-top: 2rem;
            margin-bottom: 2rem;

            div {
                .columnaIzquierdaTercerCaja {

                    background-image: url(../assets/img/card3.jpeg);
                    object-fit: contain;
                    height: 35vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;


                }

                .columnaDerechaTercerCaja {
                    background-color: $fondo-cards;
                    @include flexbox (center, center, column, 35vh);
                    color: $color-texto;
                    text-align: center;

                    h2 {
                        font-size: $titulo-cards;
                        font-weight: map-get($fuentes, bold);

                    }

                    ol {
                        font-weight: map-get($fuentes, light);
                        font-size: $tamano-texto-cards;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width:768px) {
    main {
        section {
            .contenedorTituloQue {
                height: 30vh;
                background-image: url(../assets/img/fondoQETO2\ copia.jpg);

                h1 {
                    font-weight: 300;
                    padding: 8rem;
                    font-size: 25px;
                }
            }
        }
        .contenedorAnimaciones {

        

        .containterPrimerCaja {
            div {


                .columnaIzquierdaPrimerCaja {
                    height: 30vh;

                }

                .columnaDerechaPrimerCaja {
                    height: 30vh;

                    h2 {
                        font-size: 12px;
                    }

                    p {
                        font-size: 10px;
                    }
                }

            }
        }

        section {
            div {
                .columnaIzquierdaSegundaCaja {
                    height: 30vh;
                }

                .columnaDerechaSegundaCaja {
                    height: 30vh;

                    h2 {
                        font-size: 12px;
                    }

                    ul {
                        font-size: 10px;
                    }
                }

            }
        }

        .containerTercerCaja {
            div {
                .columnaIzquierdaTercerCaja {
                    height: 30vh;
                }

                .columnaDerechaTercerCaja {
                    height: 30vh;

                    h2 {
                        font-size: 12px;
                    }

                    ol {
                        font-size: 10px;
                    }
                }

            }
        }
    }
}
}