main {
        div.contenedorTitulo {
            color: $color-texto;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35vh;
            margin-bottom: 1rem;
            background-image: url(../assets/img/fondo\ titulo\ op.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;

            h1 {
                font-weight: map-get($fuentes, light);
                padding: 8rem;
                font-size: $tamano-titulo;

            }
        }

    div.contenedorTextoIndex {
        color: $color-texto;
        text-align: center;

        h2 {
            font-weight: map-get($fuentes, light);
            font-size: $tamano-texto-secundario;

        }
    }

        div.tarjetas {
            height: auto !important;

            img {
                width: 100%;
                object-fit: cover;
            }

            h3 {
                color: $color-texto;
                font-weight: map-get($fuentes, bold);
            }
        }
}

@media screen and (min-width: 0px) and (max-width:768px)  {
    main{
        section{
            div.contenedorTitulo{ 
                height: 20vh;
               h1{
                font-weight: map-get($fuentes, light);
                padding: 8rem;
                font-size: 25px; 
                }

            }
        }
        div.contenedorTextoIndex {
            h2{
                font-size: 15px /*esto no se aplica. No se x1*/
            }
        }
    }
}