@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: rgb(229, 242, 230);
  font-family: "Nunito", sans-serif;
}

.header {
  background-color: rgb(229, 242, 230);
  position: sticky;
  z-index: 1020;
  top: 0;
  bottom: 0;
}
.header nav div a .logo {
  width: 100px;
}
.header nav div div ul li .linkNav {
  color: rgb(202, 99, 164) !important;
  text-decoration: none;
  font-weight: 800;
  font-size: 1, 75rem;
}
.header nav div div ul li .linkNav:hover {
  color: rgb(255, 255, 255) !important;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .header nav div a .logo {
    width: 50px;
  }
}
main section .contenedorTituloIndex, main section .contenedorTituloContacto, main section .contenedorTituloConsultorio, main section .contenedorTituloNosotros, main section .contenedorTituloQue {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondo2\ index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main section .contenedorTituloIndex h1, main section .contenedorTituloContacto h1, main section .contenedorTituloConsultorio h1, main section .contenedorTituloNosotros h1, main section .contenedorTituloQue h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoIndex {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoIndex h2 {
  font-weight: 300;
  font-size: 20px;
}
main div .tarjetas {
  height: auto !important;
}
main div .tarjetas img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main div .tarjetas h3 {
  color: rgb(202, 99, 164);
  font-weight: 700;
}
main div .tarjetas p {
  color: rgb(164, 196, 167);
  font-size: 15px;
}
main div .tarjetas a {
  color: rgb(202, 99, 164);
  font-weight: 700;
}
main div .tarjetas a:hover {
  color: rgb(164, 196, 167);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main section .contenedorTituloIndex, main section .contenedorTituloContacto, main section .contenedorTituloConsultorio, main section .contenedorTituloNosotros, main section .contenedorTituloQue {
    height: 30vh;
  }
  main section .contenedorTituloIndex h1, main section .contenedorTituloContacto h1, main section .contenedorTituloConsultorio h1, main section .contenedorTituloNosotros h1, main section .contenedorTituloQue h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoIndex h2 {
    font-size: 15px;
  }
}
main section .contenedorTituloQue {
  background-image: url(../assets/img/fondoQETO2.jpg);
}
main section .contenedorTituloQue h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .containterPrimerCaja {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .containterPrimerCaja div .columnaIzquierdaPrimerCaja {
  background-image: url(../assets/img/juego\ arcoirisjpg.jpg);
  -o-object-fit: fill;
     object-fit: fill;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .containterPrimerCaja div .columnaDerechaPrimerCaja {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .containterPrimerCaja div .contenedorTextoPrimerCaja {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .containterPrimerCaja div .contenedorTextoPrimerCaja h2 {
  font-size: 25px;
  font-weight: 700;
}
main .containterPrimerCaja div .contenedorTextoPrimerCaja p {
  font-weight: 300;
  font-size: 15px;
}
main section div .columnaIzquierdaSegundaCaja {
  background-image: url(../assets/img/full-shot-kid-playing-floor-with-wooden-toy.jpg);
  -o-object-fit: fill;
     object-fit: fill;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main section div .columnaDerechaSegundaCaja {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main section div .contenedorTextoSegundaCaja {
  color: rgb(202, 99, 164);
  text-align: center;
}
main section div .contenedorTextoSegundaCaja h2 {
  font-size: 25px;
  font-weight: 700;
}
main section div .contenedorTextoSegundaCaja ul {
  font-weight: 300;
  font-size: 15px;
}
main .containerTercerCaja {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .containerTercerCaja div .columnaIzquierdaTercerCaja {
  background-image: url(../assets/img/little_boy_playing_blocks_male_nurse_1200x852_77407.jpeg);
  -o-object-fit: contain;
     object-fit: contain;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .containerTercerCaja div .columnaDerechaTercerCaja {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .containerTercerCaja div .contenedorTextoTercerCaja {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .containerTercerCaja div .contenedorTextoTercerCaja h2 {
  font-size: 25px;
  font-weight: 700;
}
main .containerTercerCaja div .contenedorTextoTercerCaja ol {
  font-weight: 300;
  font-size: 15px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main section .contenedorTituloQue {
    height: 30vh;
  }
  main section .contenedorTituloQue h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .containterPrimerCaja div .columnaIzquierdaPrimerCaja {
    height: 25vh;
  }
  main .containterPrimerCaja div .columnaDerechaPrimerCaja {
    height: 25vh;
  }
  main .containterPrimerCaja div .contenedorTextoPrimerCaja h2 {
    font-size: 15px;
  }
  main .containterPrimerCaja div .contenedorTextoPrimerCaja p {
    font-size: 10px;
  }
  main section div .columnaIzquierdaSegundaCaja {
    height: 25vh;
  }
  main section div .columnaDerechaSegundaCaja {
    height: 25vh;
  }
  main section div .contenedorTextoSegundaCaja h2 {
    font-size: 15px;
  }
  main section div .contenedorTextoSegundaCaja ul {
    font-size: 8px;
  }
  main .containerTercerCaja div .columnaIzquierdaTercerCaja {
    height: 25vh;
  }
  main .containerTercerCaja div .columnaDerechaTercerCaja {
    height: 25vh;
  }
  main .containerTercerCaja div .contenedorTextoTercerCaja h2 {
    font-size: 15px;
  }
  main .containerTercerCaja div .contenedorTextoTercerCaja ol {
    font-size: 8px;
  }
}
main section .contenedorTituloNosotros {
  background-image: url(../assets/img/fondoNosotros2.jpg);
}
main section .contenedorTituloNosotros h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main div div .contenedorVideoNosotros {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
}
main div div .contenedorVideoNosotros video {
  height: 35vh;
  width: 100%;
}
main div div .contenedorTextoNosotros {
  color: rgb(202, 99, 164);
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
main div div .contenedorTextoNosotros h3 {
  font-size: 20px;
  font-weight: 200;
}
main .textoGaleriaNosotros {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
main .textoGaleriaNosotros p {
  color: rgb(202, 99, 164);
  font-size: 25px;
  font-weight: 700;
}
main .galeriaNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .galeriaNosotros div .imagenes {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main .galeriaNosotros div .imagenes img {
  width: 100%;
  height: 40vh;
}
main .galeriaNosotros div .imagenes a {
  color: rgb(202, 99, 164);
  font-weight: 700;
}
main .galeriaNosotros div .imagenes a:hover {
  color: rgb(164, 196, 167);
}
main .galeriaNosotros div .videoNosotros {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main .galeriaNosotros div .videoNosotros video {
  width: 100%;
  height: 50vh;
}
main .galeriaNosotros div .videoNosotros a {
  color: rgb(202, 99, 164);
  font-weight: 700;
}
main .galeriaNosotros div .videoNosotros a:hover {
  color: rgb(164, 196, 167);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main section .contenedorTituloNosotros {
    height: 30vh;
  }
  main section .contenedorTituloNosotros h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main div div .contenedorVideoNosotros video {
    height: 20vh;
  }
  main div div .contenedorTextoNosotros h3 {
    font-size: 15px;
    font-weight: 200;
  }
  main .textoGaleriaNosotros p {
    font-size: 12px;
  }
  main .galeriaNosotros div .imagenes img {
    height: 20vh;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  main .galeriaNosotros div .videoNosotros video {
    height: 20vh;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}
main section .contenedorTituloConsultorio {
  background-image: url(../assets/img/fondoConsultorio.jpg);
}
main section .contenedorTituloConsultorio h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoConsultorio {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoConsultorio p {
  font-weight: 300;
  font-size: 20px;
}
main .textoGaleriaConsultorio {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
main .textoGaleriaConsultorio h2 {
  color: rgb(202, 99, 164);
  font-size: 25px;
  font-weight: 700;
}
main .contenedorGaleriaConsultorio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .contenedorGaleriaConsultorio .imagenesConsultorio {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main .contenedorGaleriaConsultorio .imagenesConsultorio img {
  width: 100%;
  height: 40vh;
}
main .contenedorTextoConsultorio h2 {
  font-weight: 700;
  font-size: 25px;
}
main .contenedorTextoConsultorio .mapa {
  width: 400px;
  height: 450px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main section .contenedorTituloConsultorio {
    height: 30vh;
  }
  main section .contenedorTituloConsultorio h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoConsultorio p {
    font-size: 15px;
  }
  main .textoGaleriaConsultorio h2 {
    font-size: 12px;
  }
  main .contenedorGaleriaConsultorio .imagenesConsultorio img {
    height: 20vh;
  }
  main .contenedorTextoConsultorio h2 {
    font-size: 12px;
  }
  main .contenedorTextoConsultorio .mapa {
    height: 25vh;
    width: 200px;
  }
}
main section .contenedorTituloContacto {
  background-image: url(../assets/img/fondocontacto.jpg);
}
main section .contenedorTituloContacto h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoContacto {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoContacto h2 {
  font-size: 25px;
  font-weight: 700;
}
main div .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main div .formulario ::-moz-placeholder {
  color: rgb(0, 0, 0) !important;
}
main div .formulario ::placeholder {
  color: rgb(0, 0, 0) !important;
}
main div .formulario .formularioContenedorBoton {
  background-color: rgb(202, 99, 164);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main section .contenedorTituloContacto {
    height: 30vh;
  }
  main section .contenedorTituloContacto h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoContacto h2 {
    font-size: 12px;
  }
}
.footer {
  color: rgb(255, 255, 255);
  background-color: rgb(180, 226, 247);
  height: auto;
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
}
.footer div div div a .iconos {
  color: rgb(202, 99, 164);
  font-size: 60px;
  display: inline-block;
  align-items: center;
  padding: 1rem;
}
.footer div div div a .iconos:hover {
  color: rgb(255, 255, 255) !important;
}
.footer .contenedorCreditos {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contenedorCreditos .creditos p {
  color: rgb(255, 255, 255);
}
.footer .contenedorCreditos .creditos p:hover {
  color: rgb(202, 99, 164);
  font-weight: 700;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .footer div div div a .iconos {
    font-size: 35px;
  }
  .footer .contenedorCreditos {
    padding-top: 0rem;
  }
}/*# sourceMappingURL=estilos.css.map */