@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap');
@import "_variables.scss";
@import "_body.scss";
@import "_header.scss";
@import "_mainIndex.scss";
@import "_mainQueEsTo.scss";
@import "_mainNosotros.scss";
@import "_mainConsultorio.scss";
@import "_mainContacto.scss";
@import "_footer.scss";

@media screen and (min-width: 0px) and (max-width:768px) {
    .contenedorTitulo {
        height: 20vh;
    }

    .contenedorTitulo h1 {
        font-weight: 300;
        padding: 8rem;
        font-size: 25px;
    }

    .contenedorTextoIndex h2 {
        font-size: 15px;
    }

    .columnaIzquierda {
        height: 20vh;
    }

    .columnaDerecha {
        height: 20vh;
    }

    .contenedorTexto h2 {
        font-size: 9px;
        font-weight: 700;
    }

    .contenedorTexto p {
        font-weight: 300;
        font-size: 8px;
    }

    .contenedorTexto ul {
        font-weight: 300;
        font-size: 8px;
    }

    .contenedorTexto ol {
        font-weight: 300;
        font-size: 8px;
    }

    .contenedorTextoNosotros h3 {
        font-size: 10px;
        font-weight: 200;
    }

    .textoGaleria p {
        font-size: 10px;
    }

    .contenedorTexto h4 {
        font-weight: 700;
        font-size: 20px;
    }

    .mapa {
        width: 200px;
        height: 200px;
    }

    .iconos {
        font-size: 50px;
    }
}