@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: rgb(229, 242, 230);
  font-family: "Nunito", sans-serif;
}

.header {
  background-color: rgb(229, 242, 230);
  position: sticky;
  z-index: 1020;
  top: 0;
  bottom: 0;
}
.header .logo {
  width: 100px;
}
.header .navbar-light .navbar-nav .linkNav {
  color: rgb(202, 99, 164);
  text-decoration: none;
  font-weight: 800;
  font-size: 1, 75rem;
}
.header div.contenedorTitulo {
  color: rgb(202, 99, 164);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondo\ titulo\ op.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.header div.contenedorTitulo h1 {
  font-weight: 300;
  padding: 8rem;
  font-size: 50px;
}

main .contenedorTituloIndex {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondo2\ index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloIndex h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorTextoIndex {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTextoIndex h2 {
  font-weight: 300;
  font-size: 20px;
}
main div.tarjetas {
  height: auto !important;
}
main div.tarjetas img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main div.tarjetas h3 {
  color: rgb(202, 99, 164);
  font-weight: 700;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloIndex {
    height: 20vh;
  }
  main .contenedorTituloIndex h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoIndex h2 {
    font-size: 1px;
  }
}
main .contenedorTituloQue {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondoQETO2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloQue h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .containterPrimerCaja {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .containterPrimerCaja .columnaIzquierda, main .containterPrimerCaja .columnaIzquierdaTercer {
  background-image: url(../assets/img/juego\ arcoirisjpg.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .containterPrimerCaja .columnaDerecha {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .containterPrimerCaja .contenedorTexto {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .containterPrimerCaja .contenedorTexto h2 {
  font-size: 25px;
  font-weight: 700;
}
main .containterPrimerCaja .contenedorTexto p {
  font-weight: 300;
  font-size: 15px;
}
main .columnaIzquierdaSegundo {
  background-image: url(../assets/img/full-shot-kid-playing-floor-with-wooden-toy.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .columnaDerecha {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .contenedorTexto {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .contenedorTexto h2 {
  font-size: 25px;
  font-weight: 700;
}
main .contenedorTexto ul {
  font-weight: 300;
  font-size: 15px;
}
main .containterPrimerCaja {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .containterPrimerCaja .columnaIzquierdaTercer {
  background-image: url(../assets/img/little_boy_playing_blocks_male_nurse_1200x852_77407.jpeg);
}
main .containterPrimerCaja .columnaDerecha {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
}
main .containterPrimerCaja .columnaDerecha .contenedorTexto {
  color: rgb(202, 99, 164);
  text-align: center;
}
main .containterPrimerCaja .columnaDerecha .contenedorTexto h2 {
  font-size: 25px;
  font-weight: 700;
}
main .containterPrimerCaja .columnaDerecha .contenedorTexto ol {
  font-weight: 300;
  font-size: 15px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloQue {
    height: 20vh;
  }
  main .contenedorTituloQue h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .containerPrimerCaja .columnaIzquierda, main .containerPrimerCaja .containterPrimerCaja .columnaIzquierdaTercer, main .containterPrimerCaja .containerPrimerCaja .columnaIzquierdaTercer {
    height: 20vh;
  }
  main .containerPrimerCaja .columnaDerecha {
    height: 20vh;
  }
  main .containerPrimerCaja .contenedorTexto h2 {
    font-size: 8px;
    font-weight: 700;
  }
  main .containerPrimerCaja .contenedorTexto p {
    font-weight: 300;
    font-size: 6px;
  }
}
main .contenedorTituloNosotros {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondoNosotros2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .contenedorTituloNosotros h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main .contenedorVideo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
}
main .contenedorVideo video {
  height: 35vh;
  width: 100%;
}
main .contenedorTextoNosotros {
  color: rgb(202, 99, 164);
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
main .contenedorTextoNosotros h3 {
  font-size: 20px;
  font-weight: 200;
}
main .textoGaleria {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
main .textoGaleria p {
  color: rgb(202, 99, 164);
  font-size: 25px;
  font-weight: 700;
}
main .galeriaNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .galeriaNosotros .imagenes {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main .galeriaNosotros .imagenes img {
  width: 100%;
  height: 40vh;
}
main .galeriaNosotros .videoNosotros {
  display: flex;
  flex-direction: column;
}
main .galeriaNosotros .videoNosotros video {
  width: 100%;
  height: 50vh;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  main .contenedorTituloNosotros {
    height: 20vh;
  }
  main .contenedorTituloNosotros h1 {
    font-weight: 300;
    padding: 8rem;
    font-size: 25px;
  }
  main .contenedorTextoNosotros h3 {
    font-size: 10px;
    font-weight: 200;
  }
  main .textoGaleria p {
    font-size: 8px;
  }
  main .galeriaNosotros .imagenes img {
    height: 20vh;
  }
  main .galeriaNosotros .videoNosotros video {
    height: 20vh;
  }
}
main div.contenedorTituloConsultorio {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondoConsultorio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main div.contenedorTituloConsultorio h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main div.contenedorTextoIndex {
  color: rgb(202, 99, 164);
  text-align: center;
}
main div.contenedorTextoIndex h2 {
  font-weight: 300;
  font-size: 20px;
}
main div.textoGaleria {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
main div.textoGaleria p {
  color: rgb(202, 99, 164);
  font-size: 25px;
  font-weight: 700;
}
main div.contenedorGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
}
main div.contenedorGaleria .imagenes {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
}
main div.contenedorGaleria .imagenes img {
  width: 100%;
  height: 40vh;
}
main div.contenedorTexto h4 {
  font-weight: 700;
  font-size: 25px;
}
main div.contenedorTexto .mapa {
  width: 400px;
  height: 450px;
}

main div.contenedorTituloContacto {
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 1rem;
  background-image: url(../assets/img/fondocontacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main div.contenedorTituloContacto h1 {
  font-weight: 900;
  padding: 8rem;
  font-size: 50px;
}
main div.contenedorTexto {
  color: rgb(202, 99, 164);
  text-align: center;
}
main div.contenedorTexto h2 {
  font-size: 25px;
  font-weight: 700;
}
main form.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form.formulario ::-moz-placeholder {
  color: rgb(0, 0, 0) !important;
}
main form.formulario ::placeholder {
  color: rgb(0, 0, 0) !important;
}
main form.formulario .formularioContenedorBoton {
  background-color: rgb(202, 99, 164);
}

.footer {
  color: rgb(255, 255, 255);
  background-color: rgb(180, 226, 247);
  height: auto;
  width: 100%;
  font-size: 1rem;
  margin-top: 2rem;
}
.footer .iconos {
  color: rgb(202, 99, 164);
  font-size: 60px;
  display: inline-block;
  align-items: center;
  padding: 1rem;
}
.footer .contenedorCreditos {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ver por que no funciona
.logo {
    width: 50px; 
}
*/
/*
.contenedorTitulo
{ height: 20vh;
}
.contenedorTitulo h1
 {font-weight: 300;
    padding: 8rem;
    font-size: 25px; 
   }


.contenedorTextoIndex h2
{font-size: 15px;
}*/
/*medias queries nque es to*/
/*
    .columnaIzquierda{ 
        height: 20vh;
       }

    .columnaIzquierdaSegundo{
        height: 20vh;
    }
    .columnaIzquierdaTercer{
        height: 20vh;
    }

    .columnaDerecha{
        height: 20vh;
       }
    .contenedorTexto h2
        {font-size: 8px;
        font-weight: 700;
    }

    .contenedorTexto p
    {font-weight: 300;
    font-size: 6px;
    }

    .contenedorTexto ul
    {font-weight: 300;
    font-size: 6px;
    }

    .contenedorTexto ol
    {font-weight: 300;
    font-size: 6px;
    }

    .contenedorTexto h4
    {font-weight: 700;
    font-size: 20px;
    }

    .mapa
    { width: 200px;
    height:200px; 
    }
    .iconos
    {font-size: 50px;
    }
} *//*# sourceMappingURL=estilos.css.map */